<div id="page-content">
	<div class="container rounded" id="home-container">
		<div class="container-fluid bg-light text-light p-5 rounded" id="jumbotron">
			<div class="container bg-light p-5 bg-opacity-75 rounded">
				<h1 class="display-3 text-secondary text-center">Decide with <b class="text-primary">Quick D$ide ..!</b></h1>
				<hr>
				<p class="display-6 text-dark text-center">Expedite your decision process.</p>
				<p class="display-6 text-dark text-center">Be more confident on your decisions!</p>
				<br>
				<div class="col text-center">
					<a href="#" class="btn btn-primary">Sign up for free!</a>
				</div>
			</div>
		</div>
	</div>
</div>
