<div id="page-content">
  <h1 class="text-center mt-4">projects</h1>
  <div class="container">
    <%= render "projects_table" %>
    <br>
    <p>
      <%= link_to 'create a new project', new_project_path %>
    </p>
  </div>
</div>

