<div id="page-content">
  <h1 class="text-center mt-4">projects</h1>
  <div class="container">
    <p>
      <%= link_to "create a new project", new_project_path(@project), class: "btn btn-primary" %>
    </p>
    <% if @projects.any? %>
      <%= render "projects_table" %>
      <br>
      <div class="flickr_pagination">
        <%= will_paginate @projects, :container => false %>
      </div>
    <% end %>
    <br>
  </div>
</div>

