<%= render "shared/errors", obj: @asset %>
<div class="container">
  <h1 class="text-center mt-4">Edit Asset</h1>
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'form' %>
    </div>
  </div>
</div>
