<div class="container mt-2 col-10">
  <% flash.each do |name, msg| %>
    <div class="alert alert-success shadow p-3 alert-dismissible fade show" role="alert">
      <%= msg %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
</div>
